<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Crop Name</th>
        <th scope="col">Quantity(in Kg)</th>
        <th scope="col">MSP</th>
        <th scope="col">Sold Price</th>
        <th scope="col">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>26/06/2021</td>
        <td>Rice</td>
        <td>200</td>
        <td>&#x20b9;5100</td> 
        <td>&#x20b9;7000</td>     
          <!-- (&#x20b9;) is use for rupee symbol -->
        <td>&#x20b9;7000</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>21/10/2020</td>
        <td>Wheat</td>
        <td>200</td>
        <td>&#x20b9;1100</td> 
        <td>&#x20b9;2000</td>     
          <!-- (&#x20b9;) is use for rupee symbol -->
        <td>&#x20b9;4000</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>04/06/2020</td>
        <td>Jute</td>
        <td>50</td>
        <td>&#x20b9;300</td> 
        <td>&#x20b9;600</td>     
          <!-- (&#x20b9;) is use for rupee symbol -->
        <td>&#x20b9;1000</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
