<div>
    <img src="./assets/Login.jpg" class="img1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1>Login</h1>
                        <h2>Please enter email & password !!</h2>
    
                    </div>
    
                    <form (ngSubmit)="userLogin()">       
                        <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input required type="email" class="form-control" id="email" name="email"  [(ngModel)]="user.email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input required type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password">
                        </div>
                            
                        <button type="submit" class="btn btn-primary">Login</button>
                        
                    </form>
                    <br>
                <a routerLink="/forget-pass">Forgot Password?</a>
                <br>
                   New User?<a routerLink="/farmer"> Register Here</a>
                <br>
                    
                </div>
    
            </div>
    
        </div>
    
    </div>
</div>